@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    background-color: #151B54;
    /* background-image: url('./assets/background.jpg');
    background-size: cover; */
}